<!doctype html>
<html lang="en">
  <head>
    <!-- ... existing code ... -->
  </head>
  <body>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- ... existing code ... -->
    </nav>

    <div class="bg-light py-2">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6 offset-md-3">
            <button class="btn btn-lg btn-primary" type="button">Learn About Our Coffee</button>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
    {% block content %}
    {% endblock %}
    </div>

    <!-- ... existing JavaScript links ... -->
  </body>
</html>